#MainNew{
    display: flex;
    flex-direction: column;
    img#desktop{
        width: 100%;
        display: none;
        @media (min-width: 376px) {
            display: block;
        }
    }
    img#mobile{
        width: 100%;
        object-fit: cover;
        @media (min-width: 376px) {
            display: none;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-top: 28px;
        justify-content: space-between;
        height: 100%;
        @media (min-width:376px) {
            flex-direction: row;
        }

    }
    .title{
        width: 100%;
        font-size: 56px;
        font-weight: var(--font-weight-2);
        line-height: 1;
        max-width: 350px;
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        max-width: 400px;

        margin-top: 24px;

        color: var(--neutral-dark-graydish-blue);
        p{
            margin: 0;
        }
        @media (min-width:376px) {
            margin-top: 0;
        }

    }
    button { 
        width: fit-content;
        background-color: var(--primary-red);

        font-size: 12px;
        font-family: var(--font-family);
        font-weight: var(--font-weight-1);
        color: var(--neutral-off-white);
        text-transform: uppercase;
        letter-spacing: 4px;

        padding: 16px 32px;
        margin-top: 24px;

        border: 0;
        border-radius: 0;

        &:hover{
            background-color: var(--primary-orange);
        }
        
        @media (min-width:376px) {
            margin-top: 0;
        }

    }
}