#SubLanding{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media (min-width: 376px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 28px;
    }
    .item{
        @media (min-width:376px) {
            column-gap: 24px;
        }
        display: grid;
        column-gap: 12px;
        grid-template-areas: 
            'img num'
            'img title'
            'img description';

        width: 100%;
        
        .image{
            object-fit: cover;
            grid-area: img;
            width: 100%;
            height: 100%;
            max-width: 100px;
        }
        .num{
            grid-area: num;
            font-size: 37px ;
            line-height: normal;
            font-weight: var(--font-weight-2);
            color: var(--neutral-greydish-blue);
        }
        .title{
            grid-area: title;
            font-size: 20px;
            font-weight: var(--font-weight-2);
        }
        .description{
            grid-area: description;
            color: var(--neutral-dark-graydish-blue);
        }
        

    }
}