header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 36px 0px;
    margin-bottom: -72px;
    nav{
        width: 100%;
        display: none;
        .item{
            color: var(--neutral-dark-graydish-blue);
            &:hover{
                color: var(--neutral-greydish-blue);
            }
        }
    }
    @media (min-width: 376px) {

        nav{
            display: flex;
            gap: 48px;
        }
    }
}

