#MainNew{
    grid-area: main;
}
#NewsList{
    grid-area: list;
}
#SubLanding{
    grid-area: sub;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    line-height: 1.8;
    padding-bottom: 72px;
    @media (min-width:376px) {
        display: grid;
        grid-template-areas: 
            'main main list'
            'sub sub sub';
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 28px;
        row-gap: 72px;
    }
}
#root{
    max-width: 345px;
    margin: auto;
    @media (min-width:376px) {
        max-width: 1280px;
        margin: auto;
    }
}